server:
  port: 8080

spring:
  application:
    name: ComNCheck
  datasource:
    driver-class-name: org.h2.Driver
    url: ${H2_DB_URL}  #url: 'jdbc:h2:~/test' -> H2 DB 연결 주소 (Embedded Mode)
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  security:
    oauth2:
      client:
        registration:
          google:
            client-name: google
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI}
            authorization-grant-type: authorization_code
            scope:
              - email
              - profile

jwt:
  secret: ${JWT_SECRET}
  expirationMs: ${JWT_EXPIRATIONMS}